.App {
  text-align: center;
}

.item{max-width: 350px; margin: 0 auto; width: 100%; background-color: rgb(194, 193, 193); padding: 10px; border-radius: 4px; margin-bottom: 15px;}
.pt-20{padding-top: 20px;}
.item{display: flex; justify-content: space-between;}
.edititem{cursor: pointer;}
.removeitem{margin-left: 10px; cursor: pointer;}